@model Personlista.ViewModel.PersonRegisterListResultViewData
@{
    var urlOne = @Url.Action("SavePerson", "PersonRegister");
    var urlMany = @Url.Action("SaveAllNewPersons", "PersonRegister");
}

<h3>Lista över påhittade personer</h3>
<p>Antal träffar: @Model.ListCount st</p>

@if (Model.LastPage > 1)
{
    <ul class="pagination">

        @if (Model.CurrentPage > 6)
        {
            <li class="page-item">
                <a class="page-link" data-page-index="1" style="margin-right:15px;"> 1 </a>
            </li>
        }

        @for (int i = Model.FirstPage; i <= Model.LastPage; i++)
        {
            var activePage = i == Model.CurrentPage ? "active" : "";

            <li class="page-item @activePage">
                <a href="#"  class="page-link" data-page-index="@i">@i</a>
            </li>
        }
        @if (Model.LastPage < Model.PageCount)
        {
            <li class="page-item">
                <a class="page-link" data-page-index="@Model.PageCount" style="margin-left:15px;"> @Model.PageCount </a>
            </li>
        }

    </ul>
}

<table id="personTable" data-url-one="@urlOne" data-url-many="@urlMany" style="width: 100%; background-color: #eeeff8;">
    <thead>
        <tr>
            <th width="30%">Namn</th>
            <th width="30%">Personnummer</th>
            <th width="30%">Persontyp</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.PersonList)
            {
            <tr style="border-top: 1px solid #ccc">
                <td>
                    <p>@item.Id: @item.Firstname @item.Lastname</p>
                </td>
                <td>
                    <p>@item.Socialnumber</p>
                </td>
                <td>
                    <p>@item.PersonCategory</p>
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    //Detect click on page number
    $('.page-link').on('click', function () {
        console.log("page-link");
        var searchRequest = {
            DisplayNumber: $('input[name="SearchRequest.DisplayNumber"]:checked').val(),
            SearchString: $('#searchString').val(),
            PageNumber: $(this).data('page-index')
        }

        setTimeout(function () {
            CallActionAndRefreshData(searchRequest);
        }, 200)
    });
</script>
