@using Personlista.Models
@model Personlista.ViewModel.PersonRegisterListViewData

@{ 
    var url = @Url.Action("Action", "Controller");
}


@using (Html.BeginForm("PersonRegisterListResult", "PersonRegister", FormMethod.Post, 
    new { role = "form", id = "personSearchForm", data_request_url = "@url" }))
{

    <div style="margin-top:30px;">
        <div style="float:left; padding: 15px;">
            <p>Filtrera efter sökord</p>
            @Html.TextBoxFor(model => model.SearchRequest.SearchString, new { id = "searchString", placeHolder = "Sök" })
        </div>

        <div style="float:left; padding: 15px;">
            <p>Antal resultat per sida</p>

            <label>
                @Html.RadioButtonFor(model => model.SearchRequest.DisplayNumber, DisplayNumber.Display10)
                10 st
            </label>
            <label>
                @Html.RadioButtonFor(model => model.SearchRequest.DisplayNumber, DisplayNumber.Display50)
                50 st
            </label>
            <label>
                @Html.RadioButtonFor(model => model.SearchRequest.DisplayNumber, DisplayNumber.Display100)
                100 st
            </label>
        </div>

        <button class="btn btn-success" type="button" style="float:right;">Spara alla nya poster</button>
    </div>

    <div style="clear: both; padding:15px;">
        <p>Lägg till en ny person</p>

        @Html.TextBox("CreateFirstName", "", new { placeHolder = "Förnamn" })
        @Html.TextBox("CreateLastName", "", new { placeHolder = "Efternamn" })
        @Html.TextBox("CreateSocialSecurityNumber", "", new { placeHolder = "Personnummer" })
        @Html.TextBox("CreatePersonType", "", new { placeHolder = "Persontyp" })
        <button class="btn btn-info" type="button" style="padding:5px;"> Lägg till </button>
    </div>
}

<div id="searchResult" style="clear: both; border: 1px solid #ccc; padding: 15px; margin: 15px;">
    @Html.Action("PersonRegisterListResult", Model.SearchRequest)
</div>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/custom/formscript.js"></script>