@model Personlista.ViewModel.PersonRegisterListResultViewData

<h3>Lista över påhittade personer - (@Model.ListCount st)</h3>

<table style="width: 100%; background-color: #eeeff8;">
    <thead>
        <tr>
            <th width="30%">Namn</th>
            <th width="30%">Personnummer</th>
            <th width="30%">Persontyp</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.PersonList)
        {
            <tr title="#@item.Id" style="border-top: 1px solid #ccc">
                <td>
                    <p>@item.Firstname @item.Lastname</p>
                </td>
                <td>
                    <p>@item.Socialnumber</p>
                </td>
                <td>
                    <p>@item.PersonCategory</p>
                </td>
                <td>
                    <button id="saveOnePerson" class="btn btn-success" type="button" style="padding: 5px;">Spara</button>
                </td>
            </tr>
        }
    </tbody>
</table>